body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to bottom, #f0f0f0, #a8a8a8); */
    background: linear-gradient(to right, #ff8800, #e52d27);

    /* background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 5px, transparent 5px, transparent 10px); */
}

.container-app {
    /* Contains the entire app. Piles the panels vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container-top {
    /* Contains the centered title and a description.*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-middle-panels {
    /* Contains the two panels in the middle of the page. */
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

.container-submit {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    /* background-color: #ffc5c5; */
    background: linear-gradient(to right, #ffb25b, #e7615d);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container-recent {
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #e9e9e9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.container-amounts {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.container-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

h4 {
    color: #ffdada;
    margin-bottom: 5rem;
}

h5 {
    color: #ffffff;
    margin-bottom: 1rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

form button {
    align-self: center;
    margin: 10px;
}

@media (max-width: 600px) {
    .container {
        padding: 1rem;
    }
}